.accueil {
    display: flex;
    width: 100%;
    height: 1px;
    flex-direction: column;
    align-items: center;
}
.accueil .logo{
    position: absolute;
    top:2em;
    right: 2em;
    width: 8em;
    height: 6em;
}

.accueil h1 {
    position: absolute;
    top: 5em;
    font-size: 50px;
    font-family: 'Playpen Sans', cursive;
}

.accueil .forme{
    width: 5em;
    z-index: -10;
    position: relative;
    top: 13em;
    left: -9em;
}

@media only screen and (min-width: 768px) {
    .accueil h1 {
        top: 3em;
        font-size: 70px;
    }
    
    .accueil .forme{
        width: 10em;
        top: 9em;
        left: -12em;
    }
}


@media only screen and (min-width: 1200px) {
    .accueil h1 {
        top: 2em;
        font-size: 96px;
    }
    
    .accueil .forme{
        width: 10em;
        top: -28em;
        left: -18em;
    }
}

