@media only screen and (min-width: 360px) {
    div.coeur {
        position: absolute;
        padding-top: 30px;
        padding-left: 30px; 
        font-size: 20px;  
        z-index: 30;
    }

    ul.liste_elements {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 100px;
    }
    
    ul.liste_elements p {
        color: white;
        font-weight: bolder;
        position: absolute;
        padding-top: 270px;
        padding-left: 30px;
        width: 270px;
        z-index: 30;
    }
    
    ul.liste_elements img {
        width: 350px;
        border-radius: 10px;
        z-index: -30;
    }
    
    ul.liste_elements li {
        padding-bottom: 100px;
    }
    
    div.opacite {
        position: absolute;
        opacity: 35%;
        z-index: 0;
        background-color: black;
        width: 350px;
        height: 350px;
        border-radius: 10px;
    }
    
    h2.recommander {
        font-family: 'Playpen Sans', cursive;
        color: coral;
        font-size: 25px;
        padding-bottom: 125px;
        padding-left: 78px;
    }

    div.white {
        position: absolute;
        padding-top: 20px;
        font-weight: bolder;
        color: white;
        z-index: 50;
        font-size: 30px;
        padding-left: 300px;
    }
}

@media only screen and (min-width: 768px) {
    div.coeur {
        padding-top: 160px;
    }

    ul.liste_elements {
        flex-direction: row;
        flex-wrap: wrap;
    }

    ul.liste_elements img {
        width: 225px;
    }

    div.opacite {
        position: absolute;
        opacity: 35%;
        z-index: 0;
        background-color: black;
        width: 225px;
        height: 225px;
        border-radius: 10px;
    }

    ul.liste_elements p {
        padding-top: 30px;
        width: 200px;
    }

    h2.recommander {
        padding-bottom: 75px;
        padding-left: 28px;
    }

    ul.liste_elements li {
        padding-left: 25px;
        padding-bottom: 25px;
    }

    div.white {
        padding-top: 190px;
        font-weight: bolder;
        color: white;
        z-index: 50;
        font-size: 30px;
        padding-left: 180px;
    }
}

@media only screen and (min-width: 1200px) {
    ul.liste_elements {
        padding-left: 200px;
    }

    h2.recommander {
        padding-bottom: 75px;
        padding-left: 200px;
    }
}


