/* Nom : Rosalie Cliche
Matricule : 2151859
Description : Css de la connexion  */

.authentification_lite {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    overflow: hidden;
}

.authentification_lite div.login {
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 670px;
    display: flex;
    justify-content: center;
}

.connexion, .deconnexion {
    position: absolute;
    top: 32em;
    background-color: #FF7E50;
    padding: 10px;
    border-radius: 2em;
    color: white;
    width: 15em;
}

.deconnexion {
    top: 18em;
    left: 14em;
    width: 10em;
}

.authentification_lite .cercle {
    width: 12em;
    height: 12em;
    position: absolute;
    top: 15em;
    background-color: #FF7E50;
    border-radius: 25em;
}

.authentification_lite .forme1 {
    z-index: -30;
    position: absolute;
    rotate: -19deg;
    top: -3em;
    left: -4em;
    width: 19em;
    height: 17em;
}

.authentification_lite .ligne1 {
    rotate: 107deg;
    z-index: -30;
    position: absolute;
    top: -6em;
    left: 8em;
    width: 15em;
    height: 17em;
}

.authentification_lite .forme2 {
    z-index: -30;
    position: absolute;
    right: 0em;
    top: 27em;
    width: 19em;
    height: 15em;
}

.authentification_lite .ligne2 {
    z-index: -30;
    position: absolute;
    right: 0em;
    top: 27em;
    width: 19em;
    height: 15em;
}

.authentification_lite .z-10 {
    position: absolute;
    top: 13.5em;
    width: 12em;
    height: 15em;
}

.authentification_lite img.logo {
    position: absolute;
    top: 2em;
    right: 2em;
    width: 8em;
    height: 6em;
}

@media only screen and (min-width: 1500px) {
    .authentification_lite div.login {
        height: 100vh;
    }

    .authentification_lite .forme2 {
        top: 32em;
    }

    .authentification_lite .ligne2 {
        top: 32em;
    }
}

@media only screen and (min-width: 1800px) {
    .authentification_lite div.login {
        height: 670px;
    }

    .authentification_lite .forme2 {
        top: 27em;
    }

    .authentification_lite .ligne2 {
        top: 27em;
    }
}