.btns-lecture {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: fit-content;
    margin: 0 auto;
}

section.music-controler {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 1rem;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    padding: 1rem;
}

div.wrapper-controler {
    display: flex;
    flex-direction: column;
    position: relative;
    width: fit-content;
    margin: 0 auto;
    margin-top: 4em;
}

.volume {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding: 2em 1em 0 0;
    align-items: center;
    width: fit-content;
    margin: 0 auto;
}

div.progress {
    position: absolute;
    top: 8px;
    height: 10px;
    width: 100%;
    background-color: #ffa485;
    border-radius: 50px;
    transition: width 0.3s;
    z-index: 30;
}

.slider-audio {
    position: relative;
    appearance: none;
    height: 10px;
    width: 200px;
    background-color: rgb(85, 85, 85);
    border-radius: 50px;

}

.slider-audio::-webkit-slider-thumb {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 1px solid black;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
    z-index: 50;
    position: relative;
}

.volume-wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

div.progress-volume {
    position: absolute;
    height: 10px;
    width: 100%;
    background-color: #ffa485;
    border-radius: 50px;
    transition: width 0.3s;
    z-index: 30;
}

@media screen and (min-width:1000px) {
    section.music-controler {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        margin: 0;
        width: fit-content;
        height: 100%;
        padding: 1rem;
    }

    div.wrapper-controler {
        margin-left: 3em;
    }

    div.btns-lecture {
        margin-left: 8.5em;
    }

    div.volume {
        margin-left: 5em;
    }

}

@media screen and (min-width:1200px) {
    section.music-controler {
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
    }

    div.volume {
        margin: 0;
        position: absolute;
        right: 10em;
        bottom: 5em;
    }
}

@media screen and (min-width:1600px) {
    section.music-controler {
        flex-direction: row;
        justify-content: center;
        margin: 0 auto;
    }

    div.wrapper-controler {
        margin: 0 auto;
        margin-top: 2em;
        width: fit-content;
    }

    div.btns-lecture {
        margin: 0 auto;
        margin-top: 2em;
    }

    div.volume {
        margin: 0;
        position: absolute;
        right: 10em;
        bottom: 5em;
    }
}