.actif {
    background-color: #FFA485;
    padding: 1em;
    border-radius: 50%;
}


.navigation {
    z-index: 10000;
}

@media screen and (min-width: 1200px) {
    nav.navigation {
        position: relative;
        height: 100%;
        width: 160px;
        padding: 2em;
        left: 0;
        margin-right: 0.6em;
    }

    div.menu {
        position: fixed;
        background-color: #FF7E50;
        height: 100%;
        width: 160px;
        padding: 0;

    }

    ul.icons {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    ul.icons li {
        margin: 1.5em 0;
        cursor: pointer;
    }
}