@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100;200;300;400;500;600;700;800&display=swap');

section.tracks {
    display: none;
}

@media screen and (min-width:1000px) {
    section.tracks {
        display: flex;
        flex-direction: column;
        align-items: end;
        width: 40%;
        position: absolute;
        top: 2em;
        right: 0;
        margin-right: 3%;
    }

    section.tracks p.album-name {
        font-size: 2em;
        font-weight: bold;
        font-family: 'Playpen Sans', sans-serif;
    }

    p.duration {
        font-size: 1em;
        font-weight: bold;
        margin-right: 1em;
    }

    p.song-title {
        font-weight: 500;
        font-family: 'Playpen Sans', sans-serif;
        font-size: 1.2em;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        max-width: 250px;
    }

    li.active::after {
        position: relative;
    }

    li.active {
        padding: 0.3em;
        background-color: #FFA485;
        margin-left: -.3em;
    }
}

@media screen and (min-width:1200px) {
    section.tracks {
        display: flex;
        flex-direction: column;
        align-items: end;
        width: 60%;
        height: 550px;
        position: absolute;
        top: 2em;
        right: 0;
        margin-right: 3%;
        overflow: scroll;
    }

    p.song-title {
        font-weight: 500;
        font-family: 'Playpen Sans', sans-serif;
        font-size: 1.2em;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        max-width: 350px;
    }
}

@media screen and (min-width:1600px) {
    section.tracks {
        width: 500px;
        height: 600px;
        overflow: scroll;
    }

    p.album-name {
        margin: 0 auto;
    }
}