@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100;200;300;400;500;600;700;800&display=swap');

section.tracks {
    display: none;
}

@media screen and (min-width:768px) {
    section.tracks {
        display: flex;
        flex-direction: column;
        align-items: end;
        width: 100%;
        position: absolute;
        right: 10%;
        top: 5%;
    }

    section.tracks p.album-name {
        font-size: 1.5em;
        font-weight: bold;
        margin-right: 1em;
    }

    p.duration {
        font-size: 1em;
        font-weight: bold;
        margin-right: 1em;
    }



    p.song-title {
        font-weight: 500;
        font-family: 'Playpen Sans', sans-serif;
        font-size: 1.2em;

    }

    li.active::after {
        position: relative;
    }

    li.active {
        padding: 0.3em;
        background-color: #FFA485;
        margin-left: -.3em;
    }
}