.perspective-droite {
  transform: matrix3d(0.5071,
      0,
      -0.5071,
      0,
      0,
      1,
      0,
      0,
      0.5071,
      0,
      0.5071,
      0,
      0,
      0,
      0,
      1);
}

.vinyle {
  overflow: visible;
}

.vinyle_container {
  height: fit-content;
}